ORDER_SERVICE_PORT=8001
SHIPMENT_INTEGRATION_SERVICE_PORT=8002
CARRIER_MOCK_SERVICE_PORT=8003
QA_SERVICE_PORT=8004

RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

KEYCLOAK_HTTP_PORT=8080
KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001
